# fichiers de config
/client/eflore_head_config/configuration/ef_config.inc.php
/client/eflore_head/configuration/ef_config.inc.php
/papyrus/configuration/pap_config.inc.php

# Wiki
/animation

# fichiers lourds
/sites/flore/generique/images/cartes
!/sites/flore/generique/images/cartes/README
/sites/commun/generique/fckeditor/
